<!-- app/views/comments/_comment.html.erb -->

<div class="col-md-12">
  <%= render partial: 'votes/cvoter', locals: { post: comment.post, comment: comment } %>
    <%= image_tag(comment.image) %>
      <%= comment.body %>
      <br>
      <%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
        <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
          submitted <%= time_ago_in_words(comment.created_at) %> ago by
        <%= comment.user.name %>
        <br>
        <% if policy(comment).edit? %>
          <%= link_to "Edit Comment", edit_post_comment_path(comment.post,comment), class: 'btn btn-success' %>
        <% end %>
        <% if policy(comment).destroy? %>
          <%= link_to "Delete Comment", comment_url_helper(comment), method: :delete, class: 'btn btn-danger', remote: true %>
        <% end %>
      <% end %> 
</div>