<!-- app/views/comments/_form.html.erb -->

<div class="row">
  <div class="col-md-12">
    <p>Guideline for posts</p>
    <ul>
      <li>You must like dwarves!</li>
      <li>Every worthy comment entitles you to one golden dragon.</li>
      <li>Ice cream is the one true king of Westeros.</li>
    </ul>
  </div>
</div>

<%= form_for [post, comment] do |f| %>

  <% if comment.errors.any? %>
    <div class="alert alert-danger">
      <h4> There are <%= pluralize(comment.errors.count, "error") %>.</h4>
      <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, rows: 8, class: 'form-control', placeholder: "Enter comment here" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn-success' %>
  </div>
<% end %>