<!-- app/views/posts/show.html.erb -->

<!--<h1><%= @post.title %></h1>
<p><%= @post.body %></p> -->

<br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= @post.title %></h1>
  </div>

  <div class="panel-body">
    <p><%= @post.body %></p>
  </div>
</div>

<% if policy(@post).edit? %>
 	<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
<% end %>